<div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= form.label "Numéro civique" %>
        <%= form.text_field :NumeroCivique, id: :adress_NumeroCivique %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= form.label :Rue %>
        <%= form.text_field :Rue, id: :adress_Rue %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= form.label "Code postal" %>
        <%= form.text_field :CodePosatl, id: :adress_CodePosatl %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= form.label :Ville %>
        <%= form.text_field :Ville, id: :adress_Ville %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= form.label :Province %>
        <%= form.text_field :Province, id: :adress_Province %>
      </div>
    </div>
</div>
