  <tr>
    <td>
    <div class="col-md-8">
      <div class="field">
        <%= f.label :Nom %>
        <%= f.text_field :Nom, id: :enfant_Nom %>
      </div>
    </div>
    </td>

    <td>
      <div class="col-md-8">
        <div class="field">
          <%= f.label :Prenom %>
          <%= f.text_field :Prenom, id: :enfant_Prenom %>
        </div>
      </div>
    </td>

    <td>
      <div class="col-md-10">
        <div class="field">
          <%= f.label "Date de naissance" %>
          <br />
          <%= f.datetime_select :DateNaissance, id: :enfant_DateNaissance %>
        </div>
      </div>
    </td>

    <td>
      <div class="row">
        <div class="col-md-12">
          <div class="deleteButton">
            <%= f.input_field :_destroy, as: :hidden %>
            <%= link_to 'Supprimer', '#', class: 'btn btn-danger btn-xs remove_record' %>
          </div>
        </div>
      </div>
    </td>

</tr>
