  <tr>
    <td>
      <div class="col-md-6">
        <div class="field">
          <%= f.label "Secteur d'études" %>
          <%= f.text_field :SecteurEtudes, id: :etude_SecteurEtudes %>
        </div>
      </div>
    </td>

    <td>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :Niveau %>
          <%= f.text_field :Niveau, id: :etude_Niveau %>
        </div>
      </div>
    </td>

    <td>
      <div class="col-md-12">
        <div class="field">
          <%= f.label "Date de début" %>
          <br/>
          <%= f.datetime_select :DateDebut, id: :etude_DateDebut %>
        </div>
      </div>
    </td>

    <td>
      <div class="col-md-12">
        <div class="field">
          <%= f.label "Date de complition" %>
          <br/>
          <%= f.datetime_select :DateComplition, id: :etude_DateComplition %>
        </div>
      </div>
    </td>

    <!-- <td>
      <div class="field">
        <%= f.label :Client_id %>
        <%= f.text_field :Client_id, id: :etude_Client_id %>
      </div>
    </td>

    <td>
      <div class="field">
        <%= f.label :Institution_id %>
        <%= f.text_field :Institution_id, id: :etude_Institution_id %>
      </div>
    </td> -->

    <td>
      <div class="row">
        <div class="col-md-12">
          <div class="deleteButton">
            <%= f.input_field :_destroy, as: :hidden %>
            <%= link_to 'Supprimer', '#', class: 'btn btn-danger btn-xs remove_record' %>
          </div>
        </div>
      </div>
    </td>
 </tr>
