<%= form_with(model: client_etats_civil, local: true) do |form| %>
  <% if client_etats_civil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_etats_civil.errors.count, "error") %> prohibited this client_etats_civil from being saved:</h2>

      <ul>
      <% client_etats_civil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Client_id %>
    <%= form.text_field :Client_id, id: :client_etats_civil_Client_id %>
  </div>

  <div class="field">
    <%= form.label :EtasCivil_id %>
    <%= form.text_field :EtasCivil_id, id: :client_etats_civil_EtasCivil_id %>
  </div>

  <div class="field">
    <%= form.label :DateDebut %>
    <%= form.datetime_select :DateDebut, id: :client_etats_civil_DateDebut %>
  </div>

  <div class="field">
    <%= form.label :DateFin %>
    <%= form.datetime_select :DateFin, id: :client_etats_civil_DateFin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
